{% extends 'homeapp/base.html' %}

{% block content %}
<h1>Campaigns</h1>

<table class="mt-3 table">
  <thead>
    <tr class='bg-light'>
      <th scope="col" style="width: 30px;">
        <a 
          href="{% url 'campaign-create' %}"
          title="create new campaign">
          <i class="far fa-plus-square" style="color: green;"></i>
        </a>
      </th>
      <th scope="col" >Campaign</th>
      <th scope="col">Date Added</th>
      <th scope="col">Date Expires</th>
      <th scope="col">Notes</th>
      <th scope="col" style="width: 30px;"></th>
    </tr>
  </thead>
  <tbody>

    {% for obj in object_list %}

    <tr>
      <td style="width: 30px;">
        <a 
          href="{% url 'campaign-update' obj.pk %}"
          title="edit campaign">
            <i class="fas fa-edit" style="color: orange;"></i>
        </a>
      </td>
      <td>
        <a 
          data-toggle="collapse" 
          title="click to expand ..."
          href="#collapse{{obj.pk}}">
          {{obj.name}}
        </a>
      </td>
      <td>{{obj.date_added}}</td>
      <td>{{obj.date_expires}}</td>
      <td>{{obj.notes}}</td>
      <td style="width: 30px;">
        <a href="{% url 'campaign-delete' obj.pk %}">
          <i class="far fa-trash-alt" style="color: red;"></i>
        </a>
      </td>
    </tr>

    {# assetts table #}
    <tr class="bg-light collapse" id="collapse{{obj.pk}}">
      <td class="px-3" colspan="6">
        <table class="table">
          <thead>
            <tr class="bg-light collapse" roll="alert" id="collapse{{obj.pk}}">
              <th style="width: 30px;"><i class="far fa-plus-square" style="color: green;"></th>
              <th>Assett Name</th>
              <th>Product</th>
              <th colspan="2">Excerpt</th>
              <th style="width: 30px;"></th>
            </tr>
          </thead>
          <tbody>
            {% for assett in obj.assetts.all %}
              <tr class="bg-light collapse" id="collapse{{obj.pk}}">
                <td style="width: 30px;"><i class="fas fa-edit" style="color: orange;"></i></td>
                <td>{{assett.name}}</td>
                <td>{{assett.product}}</td>
                <td colspan="2">{{assett.excerpt}}</td>
                <td style="width: 30px;"><i class="far fa-trash-alt" style="color: red;"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>

    <tr class="bg-white collapse" id="collapse{{obj.pk}}">
      <td colspan="6"></td>
    </tr>

    {# banners table #}
    <tr class="bg-light collapse" id="collapse{{obj.pk}}">
      <td class="px-3" colspan="6">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 30px;"><i class="far fa-plus-square" style="color: green;"></th>
              <th>Banner Name</th>
              <th colspan="3">Images</th>
              <th style="width: 30px;"></th>
            </tr>
          </thead>
          <tbody>
            {% for banner in obj.banners.all %}
              <tr>
                <td style="width: 30px;"><i class="fas fa-edit" style="color: orange;"></i></td>
                <td>{{banner.name}}</td>
                <td colspan="3">
                  {% if banner.image_xl %}image_xl &nbsp;&nbsp;{% endif %}
                  {% if banner.image_lg %}image_lg &nbsp;&nbsp;{% endif %}
                  {% if banner.image_md %}image_md &nbsp;&nbsp;{% endif %}
                  {% if banner.image_sm %}image_sm &nbsp;&nbsp;{% endif %}
                  {% if banner.image_skyscraper %}image_skyscraper {% endif %}
                </td>
                <td style="width: 30px;"><i class="far fa-trash-alt" style="color: red;"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>

    {% endfor %}

  </tbody>
</table>

{% endblock %}
