{% extends 'cmsapp/forms/base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block warning %}{% endblock %}
{% block base_content %}
  <a 
    class="btn btn-light" 
    data-bs-toggle="collapse" 
    href="#editFields" 
    roe="button">Editor</a>
{% endblock %}

{% block attribute_fields %}
  <div class="row">
    <div class="col-12">
      <label>Headline</label>
      <input 
        type="text" 
        name="headline" 
        id="headline" 
        placeholder="Headline"
        class="form-control"></input>
    </div>


    <div class="col-12 mt-3">
      <label>Sub Headline</label>
      <input 
        type="text" 
        name="subHeadline" 
        id="subHeadline" 
        placeholder="Subheadline"
        class="form-control"></input>
    </div>

    <div class="col-12 col-lg-3 mt-3">
      <label>Author</label>
      <select id="author" name="author" multiple>
      </select>
    </div>

    <div class="col-12 col-lg-3 mt-3">
      <label>Status</label>
      <select id="status" name="status" class="form-select" tabindex="3">
        <option value="">Status choose ...</option>
        <option value="draft">Draft</option>
        <option value="review">Review</option>
        <option value="published">Published</option>
      </select>
    </div>
    <div class="col-12 col-lg-3 mt-3">
      <label>Highlight</label>
      <select id="highlight" name="highlight" class="form-select" tabindex="3">
        <option value="">Highlight choose ...</option>
        <option value="isFeatured">Featured</option>
        <option value="isSticky">Sticky</option>
        <option value="isPromoted">Promoted</option>
      </select>
    </div>

    <div class="col-12 col-lg-3"></div>

    {% block selectfields %}{% endblock %}

  </div>
{% endblock %}

{% block form_fields %}
<!-- begin editor -->
<div 
  class="row collapse multi-collapse b-3 m-3" 
  id="editFields">
  <div 
    id="editBanner" 
    class="col-12 p-2 alert alert-light rounded border">Editor
  </div>
  <!-- editor tabs -->
  <nav>
    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
      <button 
        class="nav-link active" 
        id="nav-body-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editBody" 
        type="button" 
        role="tab" 
        aria-controls="nav-editBody" 
        aria-selected="true">Body</button>
      <button 
        class="nav-link" 
        id="nav-excerpt-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editExcerpt" 
        type="button" 
        role="tab" 
        aria-controls="nav-editExcerpt" 
        aria-selected="false">Excerpt</button>
      <button 
        class="nav-link" 
        id="nav-footer-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editFooter" 
        type="button" 
        role="tab" 
        aria-controls="nav-editFooter" 
        aria-selected="false">Footer</button>
    </div>
  </nav>
  <!-- ckeditor -->
  <div class="tab-content" id="nav-tabContent">
    <div 
      class="tab-pane fade show active" 
      id="nav-editBody" 
      role="tabpanel" 
      aria-labelledby="nav-editBody-tab">
      <textarea 
        name="body" 
        id="body"
        placeholder="body ...">
      </textarea>
    </div>
    <div 
      class="tab-pane fade" 
      id="nav-editExcerpt" 
      role="tabpanel" 
      aria-labelledby="nav-editExcerpt-tab">
      <textarea 
        name="excerpt" 
        id="excerpt"
        placeholder="excerpt ..."></textarea>
    </div>
    <div 
      class="tab-pane fade" 
      id="nav-editFooter" 
      role="tabpanel" 
      aria-labelledby="nav-editFooter-tab">
      <textarea 
        name="footer" 
        id="footer"
        placeholder="footer ..."></textarea>
    </div>
  </div>
</div>
<!-- end editor -->
{% endblock %}
<!-- end form fields -->
