{% extends 'cmsapp/forms/base.html' %}
{% load static %}
{% block css_links %}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block base_content %}
  <a 
    class="btn btn-light" 
    {% comment %}style="color:white; background-color:#5500aa;"{% endcomment %}
    data-bs-toggle="collapse" 
    href="#editFields" 
    roe="button">Editor</a>
  <a 
    class="btn btn-light" 
    {% comment %}style="color: white; background-color:#00aaaa;"{% endcomment %}
    data-bs-toggle="collapse" 
    href="#recipeFields" 
    role="button">Recipe</a>
{% endblock %}
{% block header %}
{{ server|json_script:"sDeploy" }}
<script 
  type="text/javascript" 
  src="{% static 'ckeditor5/build/ckeditor.js' %}">
  </script>
<script 
  type="text/javascript" 
  src="{% static 'ckeditor5/src/s3adapter.js' %}">
  </script>
{% endblock %}
{% block form_action %}{% url 'document_post' doc_type %}{% endblock %} 
{% block form_method %}POST{% endblock %} 
{% block form_id %}articleEdit{% endblock %}
{% block attribute_fields %}
  <div class="row">
    <div class="col-12">
      <label>Headline</label>
      <input 
        type="text" 
        name="headline" 
        id="headline" 
        placeholder="Article Headline"
        class="form-control"></input>
    </div>


    <div class="col-12 mt-3">
      <label>Sub Headline</label>
      <input 
        type="text" 
        name="subHeadline" 
        id="subHeadline" 
        placeholder="Article Subheadline"
        class="form-control"></input>
    </div>

    <div class="col-12 col-lg-3 mt-3">
      <label>Author</label>
      <select id="author" name="author" multiple>
      </select>
    </div>

    <div class="col-12 col-lg-3 mt-3">
      <label>Status</label>
      <select id="status" name="status" class="form-select" tabindex="3">
        <option value="">Status choose ...</option>
        <option value="draft">Draft</option>
        <option value="review">Review</option>
        <option value="published">Published</option>
      </select>
    </div>
    <div class="col-12 col-lg-3 mt-3">
      <label>Highlight</label>
      <select id="highlight" name="highlight" class="form-select" tabindex="3">
        <option value="">Highlight choose ...</option>
        <option value="isFeatured">Featured</option>
        <option value="isSticky">Sticky</option>
        <option value="isPromoted">Promoted</option>
      </select>
    </div>

    <div class="col-12 col-lg-3"></div>

    <div class="col-12 col-lg-3 mt-3">
      <label>Website</label>
      <select id="website" name="website" multiple>
      </select>
    </div>

    <div class="col-12 col-lg-3 mt-3">
      <label>Category</label>
      <select id="article_category" name="article_category" multiple="multiple">
      </select>
    </div>
    <div class="col-12 col-lg-3 mt-3">
      <label>Tag</label>
      <select id="article_tag" name="article_tag" multiple>
      </select>
    </div>
    <div class="col-12 col-lg-3 mt-3">
      <label>Keyword</label>
      <select id="article_keyword" name="article_keyword" multiple>
      </select>
    </div>
  </div>
{% endblock %}

{% block form_fields %}
<!-- begin editor -->
<div 
  class="row collapse multi-collapse b-3 m-3" 
  id="editFields">
  <div 
    id="editBanner" 
    class="col-12 p-2 alert alert-light rounded border">Editor
  </div>
  <!-- editor tabs -->
  <nav>
    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
      <button 
        class="nav-link active" 
        id="nav-body-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editBody" 
        type="button" 
        role="tab" 
        aria-controls="nav-editBody" 
        aria-selected="true">Body</button>
      <button 
        class="nav-link" 
        id="nav-excerpt-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editExcerpt" 
        type="button" 
        role="tab" 
        aria-controls="nav-editExcerpt" 
        aria-selected="false">Excerpt</button>
      <button 
        class="nav-link" 
        id="nav-footer-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editFooter" 
        type="button" 
        role="tab" 
        aria-controls="nav-editFooter" 
        aria-selected="false">Footer</button>
    </div>
  </nav>
  <!-- ckeditor -->
  <div class="tab-content" id="nav-tabContent">
    <div 
      class="tab-pane fade show active" 
      id="nav-editBody" 
      role="tabpanel" 
      aria-labelledby="nav-editBody-tab">
      <textarea 
        name="body" 
        id="articleBody"
        placeholder="article body ...">
      </textarea>
    </div>
    <div 
      class="tab-pane fade" 
      id="nav-editExcerpt" 
      role="tabpanel" 
      aria-labelledby="nav-editExcerpt-tab">
      <textarea 
        name="excerpt" 
        id="articleExcerpt"
        placeholder="article excerpt ..."></textarea>
    </div>
    <div 
      class="tab-pane fade" 
      id="nav-editFooter" 
      role="tabpanel" 
      aria-labelledby="nav-editFooter-tab">
      <textarea 
        name="footer" 
        id="articleFooter"
        placeholder="article footer ..."></textarea>
    </div>
  </div>
</div>
<!-- end editor -->

<!-- begin recipe -->
<div class="row collapse multi-collapse b-3 m-3" 
  id="recipeFields">

  <div 
    id="recipeBanner" 
    class="col-12 p-2 alert alert-light rounded border">Recipe
  </div>

  <div class="row">
    <div class="col">
      <input 
        type="text" 
        name="recipe-name" 
        id="recipe-name" 
        placeholder="Recipe Name"
        class="form-control">
      </input>
    </div>
  </div>

  <!-- select row -->
  <div class="row row-cols-1 row-cols-lg-3 gx-3 gx-lg-3">

    <!-- yield -->
    <div class="col mt-3">
      <div class="bg-light mt-3 p-2 h-100 border rounded">
        <h5>Yields</h5>
        <div class="col">
          <input 
            type="number" 
            name="recipe-yield-quantity" 
            id="recipe-yield-quantity" 
            placeholder="Quantity"
            class="form-control">
        </div>
        <div class="col mt-2">
            <input 
              type="text" 
              name="recipe-yield-description" 
              id="recipe-yield-description" 
              placeholder="Description"
              class="form-control">
        </div>
        <div class="col mt-2">
            <input 
              type="text" 
              name="recipe-yield-notes" 
              id="recipe-yield-notes" 
              placeholder="Notes"
              class="form-control">
        </div>
      </div>
    </div>

    <!-- prep time -->
    <div class="col mt-3">
      <div class="bg-light mt-3 p-2 h-100 border rounded">
        <h5>Prep Time</h5>
        <div class="col">
          <select 
            name="recipe-prepTime-hours" 
            id="recipe-prepTime-hours" 
            class="form-select">
            <option value="0" selected="true">Hours</option>
            <option value="1">1 hour</option>
            <option value="2">2 hours</option>
            <option value="3">3 hours</option>
            <option value="4">4 hours</option>
            <option value="5">5 hours</option>
            <option value="6">6 hours</option>
            <option value="7">7 hours</option>
            <option value="8">8 hours</option>
            <option value="9">9 hours</option>
            <option value="10">10 hours</option>
            <option value="11">11 hours</option>
            <option value="12">12 hours</option>
            <option value="13">13 hours</option>
            <option value="14">14 hours</option>
            <option value="15">15 hours</option>
            <option value="16">16 hours</option>
            <option value="17">17 hours</option>
            <option value="18">18 hours</option>
            <option value="19">19 hours</option>
          </select>
        </div>

        <div class="col mt-2">
          <select 
            name="recipe-prepTime-minutes" 
            id="recipe-prepTime-minutes" 
            class="form-select">
            <option value="0" selected="true">Minutes</option>
            <option value="5">5 minutes</option>
            <option value="10">10 minutes</option>
            <option value="15">15 minutes</option>
            <option value="20">20 minutes</option>
            <option value="25">25 minutes</option>
            <option value="30">30 minutes</option>
            <option value="35">35 minutes</option>
            <option value="40">40 minutes</option>
            <option value="45">45 minutes</option>
            <option value="50">50 minutes</option>
            <option value="55">55 minutes</option>
          </select>
        </div>
      </div>
    </div>

    <!-- cook time -->
    <div class="col mt-3">
      <div class="bg-light mt-3 p-2 h-100 border rounded">
        <h5>Cooking Time</h5>
        <div class="col">
          <select 
            name="recipe-cookTime-hours" 
            id="recipe-cookTime-hours" 
            class="form-select">
            <option value="0" selected="true">Hours</option>
            <option value="1">1 hour</option>
            <option value="2">2 hours</option>
            <option value="3">3 hours</option>
            <option value="4">4 hours</option>
            <option value="5">5 hours</option>
            <option value="6">6 hours</option>
            <option value="7">7 hours</option>
            <option value="8">8 hours</option>
            <option value="9">9 hours</option>
            <option value="10">10 hours</option>
            <option value="11">11 hours</option>
            <option value="12">12 hours</option>
            <option value="13">13 hours</option>
            <option value="14">14 hours</option>
            <option value="15">15 hours</option>
            <option value="16">16 hours</option>
            <option value="17">17 hours</option>
            <option value="18">18 hours</option>
            <option value="19">19 hours</option>
          </select>
        </div>

        <div class="col mt-2">
          <select 
            name="recipe-cookTime-minutes" 
            id="recipe-cookTime-minutes" 
            class="form-select">
            <option value="0" selected="true">Minutes</option>
            <option value="5">5 minutes</option>
            <option value="10">10 minutes</option>
            <option value="15">15 minutes</option>
            <option value="20">20 minutes</option>
            <option value="25">25 minutes</option>
            <option value="30">30 minutes</option>
            <option value="35">35 minutes</option>
            <option value="40">40 minutes</option>
            <option value="45">45 minutes</option>
            <option value="50">50 minutes</option>
            <option value="55">55 minutes</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- end select row -->

  <!-- select row -->
  <div class="row mt-3 pt-3">
    <div class="col-lg-3">
      <label>Cooking Method</label>
      <select name="recipeCookingMethod" id="recipeCookingMethod" multiple>
      </select>
    </div>
    <div class="col-lg-3">
      <label>Cuisine</label>
      <select name="recipeCuisine" id="recipeCuisine" multiple>
      </select>
    </div>
    <div class="col-lg-3">
      <label>Category</label>
      <select name="recipeCategory" id="recipeCategory" multiple>
      </select>
    </div>
    <div class="col-lg-3">
      <label>Suitable for Diet</label>
      <select name="recipeSuitableForDiet" id="recipeSuitableForDiet" multiple>
      </select>
    </div>
  </div>
  <!-- select row -->

  <div class="row">
    <div class="col">
      <label class="mt-2" for="recipe-instructions">Instructions</label>
      <textarea 
        name="recipe-instructions" 
        id="recipe-instructions"
        placeholder="recipe instructions ...">
      </textarea>
    </div>
  </div>


  <!-- ingredients and nutrition -->
  <div class="row mt-3 gx-3" id="ingredients">

    <!-- ingredients -->
    <div class="col-12 col-lg-8">
      <div class="bg-light mt-3 p-2 border rounded ingredient-container">
        <!-- replace here -->
        <h5 class="d-inline">Ingredients</h5>

        <div class="row ingredient-row mt-2" id="recipe-ingredient-0">
          <div class="col-4">
            <input 
              type="text" 
              id="recipe-ingredient-0-name" 
              name="recipe-ingredient-0-name" 
              class="form-control recipe-ingredient-name"
              placeholder="Name">
          </div>
          <div class="col-2">
            <input 
              type="number" 
              id="recipe-ingredient-0-quantity" 
              name="recipe-ingredient-0-quantity" 
              class="form-control recipe-ingredient-quantity"
              placeholder="Qnty">
          </div>
          <div class="col-2">
            <input 
              type="text" 
              id="recipe-ingredient-0-unit" 
              name="recipe-ingredient-0-unit" 
              class="form-control recipe-ingredient-unit"
              placeholder="Unit">
          </div>
          <div class="col-3">
            <input 
              type="text" 
              id="recipe-ingredient-0-notes" 
              name="recipe-ingredient-0-notes" 
              class="form-control recipe-ingredient-notes"
              placeholder="Notes">
          </div>
          <div class="col-1 align-center delete-link">
            <a href="#" class="d-none">
              <i class="bi bi-trash3-fill" style="color:red"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col ml-2 p-2">
        <a href="#ingredients" id="add-ingredient">
          <i class="bi bi-plus-square-fill" style="color:green;"></i>
          add ingredient
        </a>
      </div>
    </div>

    <!-- nutrition -->
    <div class="col-12 col-lg-4">
      <div class="bg-light mt-3 p-2 border rounded">
        <h5>Nutrition</h5>
        <div class="col">
          <label>Serving Size</label>
          <input 
            type="text" 
            name="recipe-nutrition-servingSize" 
            id="recipe-nutrition-servingSize" 
            placeholder="Serving Size (eg. 150g)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Total Calories</label>
          <input 
            type="number" 
            name="recipe-nutrition-calories" 
            id="recipe-nutrition-calories" 
            placeholder="Total Calories"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Total Fat</label>
          <input 
            type="number" 
            name="recipe-nutrition-fatContent" 
            id="recipe-nutrition-fatContent" 
            placeholder="Total Fat (grams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Saturated Fat</label>
          <input 
            type="number" 
            name="recipe-nutrition-saturatedFat" 
            id="recipe-nutrition-saturatedFat" 
            placeholder="Saturated Fat (grams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Unsaturated Fat</label>
          <input 
            type="number" 
            name="recipe-nutrition-unsaturatedFat" 
            id="recipe-nutrition-unsaturatedFat" 
            placeholder="Unsaturated Fat (grams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Trans Fat</label>
          <input 
            type="number" 
            name="recipe-nutrition-transFat" 
            id="recipe-nutrition-transFat" 
            placeholder="Trans Fat (grams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Cholesterol</label>
          <input 
            type="number" 
            name="recipe-nutrition-cholesterolContent" 
            id="recipe-nutrition-cholesterolContent" 
            placeholder="Cholesterol (milligrams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Sodium</label>
          <input 
            type="number" 
            name="recipe-nutrition-sodiumContent" 
            id="recipe-nutrition-sodiumContent" 
            placeholder="Sodum (milligrams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Total Carbohydrates</label>
          <input 
            type="number" 
            name="recipe-nutrition-carbohydrateContent" 
            id="recipe-nutrition-carbohydrateContent" 
            placeholder="Total Carbohydrates (grams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Fiber</label>
          <input 
            type="number" 
            name="recipe-nutrition-fiberContent" 
            id="recipe-nutrition-fiberContent" 
            placeholder="Fiber (grams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Sugar</label>
          <input 
            type="number" 
            name="recipe-nutrition-sugarContent" 
            id="recipe-nutrition-sugarContent" 
            placeholder="Sugar (grams)"
            class="form-control">
        </div>
        <div class="col mt-2">
          <label>Protein</label>
          <input 
            type="number" 
            name="recipe-nutrition-proteinContent" 
            id="recipe-nutrition-proteinContent" 
            placeholder="Protein (grams)"
            class="form-control">
        </div>
      </div>
    </div>
    <!-- end recipe -->
  </div>
  <!-- end recipe and nutrition -->
</div>


{% endblock %}
<!-- end form fields -->

{% block btn_color %}primary{% endblock %}
{% block btn_value %}Submit{% endblock %}
{% block cancel_url %}#{% endblock %}

{% block script %}
{{ obj|json_script:"objectData" }}


<script>
const action = "{{action}}";
const docType = "{{doc_type}}";
const currentDateTime = new Date();
const formattedDateTime = currentDateTime.toISOString().slice(0, 19);
const pageTitle = "{{page_title}}";
{% if action == 'edit' %}
const obj = JSON.parse(document.getElementById("objectData").textContent);
const recipe = obj.recipe
const ingredientData = recipe.ingredient;
{% else %}
const obj = {
    'ID': 'none',
    'parentID': 'none',
    'author': '', 
    'website': '', 
    'recipe': {
        'nutrition': '', 
        'yield': '',
        'prepTime': {},
        'cookTime': {}
      }
  }
{% endif %}

$( document ).ready(function() {

  // open accordian
  $("#docFields").collapse("show");
  $("#attributeFields").collapse("show");
  $("#editFields").collapse("show");



  ClassicEditor.create( document.getElementById( "articleBody" ), {
      extraPlugins: [ S3AdapterPlugin ],
    });

  ClassicEditor.create( document.getElementById( "articleExcerpt" ), {
      toolbar: ["sourceEditing", "|", "heading", "|", "bold", "italic", "link",
        "bulletedList", "numberedList", "|", 
        "undo", "redo",
        ],
    });
  ClassicEditor.create( document.getElementById( "articleFooter" ), {
      toolbar: ["sourceEditing", "|", "heading", "|", "bold", "italic", "link",
        "bulletedList", "numberedList", "|", 
        "undo", "redo",
        ],
    });
  ClassicEditor.create( document.getElementById( "recipe-instructions" ), {
      toolbar: ["sourceEditing", "|", "heading", "|", "bold", "italic", "link",
        "bulletedList", "numberedList", "|", 
        "undo", "redo",
        ],
    });
});

</script>

<script 
  type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script 
  type="text/javascript" src="{% static 'js/document.functions.js' %}"></script>
<script 
  type="text/javascript" src="{% static 'js/document.select2.js' %}"></script>
<script 
  type="text/javascript" src="{% static 'js/article.select2.js' %}"></script>
<script 
  type="text/javascript" src="{% static 'js/ui.base.js' %}"></script>
<script 
  type="text/javascript" src="{% static 'js/article.ui.js' defer %}"></script>
<script 
  type="text/javascript" src="{% static 'js/document.js' defer %}"></script>
<script 
  type="text/javascript" src="{% static 'js/article.js' defer %}"></script>
{% endblock %}
