<label class="mt-1" for="name">First Name</label>
<input 
  type="text" 
  id="firstName" 
  name="firstName" 
  placeholder="First name ..."
  class="form-control clear"
  >
<label class="mt-1" for="name">Last Name</label>
<input 
  type="text" 
  id="lastName" 
  name="lastName" 
  placeholder="Last name ..."
  class="form-control clear"
  >
<label class="mt-1" for="name">Pen Name</label>
<input 
  type="text" 
  id="penName" 
  name="penName" 
  placeholder="Pen name ..."
  class="form-control clear"
  >
<label class="mt-1" for="name">Role</label>
<div class="form-group">
  <select
    id="role"
    name="role"
    class="form-select">
    <option value="author">Author</option>
    <option value="editor">Editor</option>
    <option value="publisher">Publisher</option>
  </select>
</div>
