{% extends 'common/base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block content %}
{% block warning %}{% endblock %}
<div class="mt-3">
  <a 
    class="btn btn-light" 
    {% comment %}style="color:white; background-color:#aa0000;"{% endcomment %}
    data-bs-toggle="collapse" 
    href="#docFields" 
    role="button">Document</a>
  <a 
    class="btn btn-light" 
    {% comment %}style="color: white; background-color:#55aa00;"{% endcomment %}
    data-bs-toggle="collapse" 
    href="#attributeFields" 
    role="button">Attributes</a>
{% block base_content %}{% endblock %}
</div>

<form 
  action="{% block form_action %}#{% endblock %}" 
  method="{% block form_method %}POST{% endblock %}" 
  id="{% block form_id %}{% endblock %}">
  {% csrf_token %}

<!-- begin doc fields -->
<div 
  class="row collapse multi-collapse b-3 m-3" 
  id="docFields">
  <div 
    id="docBanner" 
    class="col-12 p-2 alert alert-light rounded border">Document
  </div>
  {% include 'cmsapp/forms/document_fields.html' %}
</div>
<!-- end doc fields -->
<!-- begin attributes -->
<div class="row collapse multi-collapse b-3 m-3" 
  id="attributeFields">
  <div 
    id="attributeBanner" 
    class="col-12 p-2 alert alert-light rounded border">Attributes
  </div>
{% block attribute_fields %}{% endblock %}
</div>
<!-- end attributes -->
<!-- begin form fields -->
{% block form_fields %}{% endblock %}
<!-- end form fields -->
  <button 
    type="submit" 
    class="btn btn-{% block btn_color %}primary{% endblock %} mt-3">
    {% block btn_value %}Submit{% endblock %}</button>
  <a 
    type="button" 
    class="btn btn-light mt-3" 
    href="{% block cancel_url %}#{% endblock %}">Cancel</a>

  {% if debug %}
  <p class="mt-3">Object -- debug</p>
  <p>{{ obj }}</p>
  {% endif %}

</form>
{% endblock %}
