<div class="row">
  <div class="col-12 col-lg-8">
    <label class="mt-1" for="title">Title*</label>
    <input 
      type="text" 
      name="title" 
      id="title" 
      placeholder="Document Title"
      required="true"
      class="form-control"></input>
  </div>
  <div class="col-12 col-lg-4">
    <label class="mt-1" for="lexi">Lexi*</label>
    <input 
      type="text" 
      id="lexi" 
      name="lexi" 
      placeholder="lexi ..."
      class="form-control clear"
      required="true">
  </div>
</div>

<div class="row row-cols-1">
  <div class="col">
    <label class="mt-1" for="description">Description</label>
    <input 
      type="text" 
      name="description" 
      id="description" 
      placeholder="Document Description"
      class="form-control"></input>
    <small 
      id="indxHelp" 
      class="form-text text-muted">
        Input space-separated words. Used for full-text search.</small>
  </div>
</div>

<div class="row row-cols-1 row-cols-lg-3">
  <div class="col">
    <label class="mt-1" for="docType">DocType*</label>
    <input 
      type="text" 
      id="docType" 
      name="docType" 
      required="true"
      class="form-control">
  </div>
  <div class="col">
    <label class="mt-1" for="ID">ID*</label>
    <input 
      type="text" 
      id="ID" 
      name="ID" 
      required="true"
      class="form-control clear">
  </div>
  <div class="col">
    <label class="mt-1" for="parentID">Parent</label>
    <select id="parentID" name="parentID">
      <option></option>
    </select>
  </div>
  <div class="col">
    <label class="mt-1" for="createdAt">CreatedAt*</label>
    <input 
      type="datetime-local" 
      id="createdAt" 
      name="createdAt" 
      class="form-control"
      required="true"
      step="any">
  </div>
  <div class="col">
    <label class="mt-1" for="updatedAt">UpdatedAt*</label>
    <input 
      type="datetime-local" 
      id="updatedAt" 
      name="updatedAt" 
      class="form-control"
      required="true"
      step="any">
  </div>
  <div class="col">
    <label class="mt-1" for="schemaVersion">SchemaVersion</label>
    <input 
      type="number" 
      id="schemaVersion" 
      name="schemaVersion" 
      placeholder="schemaVersion ..."
      class="form-control"
      value=0 min=0 max=1000>
  </div>
</div>
