{% extends 'cmsapp/forms/article_base.html' %}

{% block form_action %}{% url 'document_post' doc_type %}{% endblock %} 
{% block form_method %}POST{% endblock %} 
{% block form_id %}articleEdit{% endblock %}

{% block selectfields %}
<div class="col-12 col-lg-3 mt-3">
  <label>Website</label>
  <select id="website" name="website" multiple>
  </select>
</div>

<div class="col-12 col-lg-3 mt-3">
  <label>Category</label>
  <select id="tech_doc_category" name="tech_doc_category" multiple>
  </select>
</div>
<div class="col-12 col-lg-3 mt-3">
  <label>Tag</label>
  <select id="tech_doc_tag" name="tech_doc_tag" multiple>
  </select>
</div>
<div class="col-12 col-lg-3 mt-3">
  <label>Keyword</label>
  <select id="tech_doc_keyword" name="tech_doc_keyword" multiple>
  </select>
</div>
{% endblock %}

{% block btn_color %}primary{% endblock %}
{% block btn_value %}Submit{% endblock %}
{% block cancel_url %}#{% endblock %}



{% block docreadyother %}
select2_choices(function (data) {
  // handle response data here
  $("#author").select2({
    data: data.results,
    placeholder: "choose ...",
    width: "100%"
  });
  },{ 
      url: "/cms/get/select/choices", 
      docType: "author", 
      sortBy: "lexi:ASC", 
      choiceID: "ID", 
      choiceHuman: "title", 
      removeID: "", 
      selectedIDs: obj.author,
    }
  );

select2_choices(function (data) {
  // handle response data here
  $("#website").select2({
    data: data.results,
    placeholder: "choose ...",
    width: "100%"
  });
  },{ 
      url: "/cms/get/select/choices", 
      docType: "website", 
      sortBy: "lexi:ASC", 
      choiceID: "ID", 
      choiceHuman: "title", 
      removeID: "", 
      selectedIDs: obj.website,
    }
  );

select2_choices(function (data) {
  // handle response data here
  $("#tech_doc_category").select2({
    data: data.results,
    placeholder: "choose ...",
    width: "100%"
  });
  },{ 
      url: "/cms/get/select/choices", 
      docType: "tech_doc_category", 
      sortBy: "lexi:ASC", 
      choiceID: "ID", 
      choiceHuman: "title", 
      removeID: "", 
      selectedIDs: obj.tech_doc_category,
    }
  );

select2_choices(function (data) {
  // handle response data here
  $("#tech_doc_tag").select2({
    data: data.results,
    placeholder: "choose ...",
    width: "100%"
  });
  },{ 
      url: "/cms/get/select/choices", 
      docType: "tech_doc_tag", 
      sortBy: "lexi:ASC", 
      choiceID: "ID", 
      choiceHuman: "title", 
      removeID: "", 
      selectedIDs: obj.tech_doc_tag,
    }
  );

select2_choices(function (data) {
  // handle response data here
  $("#tech_doc_keyword").select2({
    data: data.results,
    placeholder: "choose ...",
    width: "100%"
  });
  },{ 
      url: "/cms/get/select/choices", 
      docType: "tech_doc_keyword", 
      sortBy: "lexi:ASC", 
      choiceID: "ID", 
      choiceHuman: "title", 
      removeID: "", 
      selectedIDs: obj.tech_doc_keyword,
    }
  );

$("#editFields").collapse("show");


{% endblock %}


{% block script_ckeditor %}
{% endblock %}
