<label class="mt-1" for="name">Domain</label>
<input 
  type="text" 
  id="domain" 
  name="domain" 
  placeholder="domain ..."
  required="true"
  class="form-control clear"
  >
<label class="mt-1" for="name">URL</label>
<input 
  type="text" 
  id="url" 
  name="url" 
  placeholder="url ..."
  required="true"
  class="form-control clear"
  >
<label class="mt-1" for="description">Description</label>
<input 
  type="text" 
  id="description" 
  name="description" 
  placeholder="description ..."
  class="form-control clear">
