  <!-- image-left-row begin -->
  <div class='col-12 col-lg-8 image-left'>
    <div class="cols-1 mt-2">
      {{ data.title }}
    </div>
    <div class="cols-1 mt-2">
      {{ data.alt }}
    </div>
    <div class="cols-1 mt-2">
      {{ data.caption }}
    </div>
  </div>
  <!-- left end -->

  <!-- image-right begin -->
  <div 
    class='col-lg-4 d-flex flex-row-reverse image-right'>
    <div 
      class="d-flex mt-2 delete-link">

      <button 
        type="button" 
        class="btn"
        hx-get="{% url 'htmx-delete-partial' docID 'images' %}"
        hx-target="closest div.row.image-row"
        hx-swap="outerHTML"
        >
      <i class="bi bi-trash3-fill" style="color: red;"></i>
      </button>

    </div>
    <div class="d-flex m-2 p-2">
      <img 
        src="{{data.thumb.url}}" 
        title="{{data.title}}" 
        alt="{{data.alt}}" 
        style="max-width:100%;height:100%;width:auto;display:block;"
        >
    </div>
  </div>
  <!-- right end -->
</div>
