<div class="col-12 col-md-7 mt-2">
  {{ form_image.image.errors }}
  {{ form_image.image }}
</div>
<div class="col-12 col-md-2 mt-2">
  {{ form_image.position.errors }}
  {{ form_image.position }}
</div>
<div class="col-12 col-md-1 mt-2">
  {{ form_image.is_featured.errors }}
  {{ form_image.is_featured }}
</div>
<div class="col-12 col-md-1 mt-2">
  {{ form_image.process.errors }}
  {{ form_image.process }}
</div>
<div class="col-12 col-md-1 align-center delete-link mt-2">
  <button type="button" class="btn">
  <i class="bi bi-trash3-fill" style="color: red;"></i>
  </button>
</div>
