{% load cache %}
{% cache 500 webmastertools_top %}
{# Google Tag Manager #}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P23TMC9');</script>
{# Bing Verification #}
<meta name="msvalidate.01" content="DDD18DBD036EF639CE110BEA84FFE082" />
{% endcache %}