<div class="container" style="height: auto;">
View and Context bleow shows if DEBUG IS TRUE.

    <div class="row">
    <div class="col-12 mt-3">
        <h5>View</h5>
        <textarea style="border:none; width:100%; height:100%; word-wrap:break-word;">
        View: {{view}}
        Args: {{view.args}}
        Kwargs: {{view.kwargs}}
        
        </textarea>
    </div>
    </div>

    <div class="row">
    <div class="col-12 mt-3">
        <h5>Context</h5>
        <textarea style="border:none; width:100%; height:800px; word-wrap:break-word;">
        {{context}}
        </textarea>
    </div>
    </div>

</div>