{% extends 'homeapp/base.html' %}
{% block title %}{{object.title}}{% endblock %}
{% block content %}
{% load static %}

{% if not object %}<p>Oops, something went wrong ...</p>{% endif %} 

<div class='row'>
  <article class='col-12 col-xl-8'>
      {% comment %}
    {% if images.featured %}
      <figure>
        <img 
          src="{{ images.featured.lg_21.url }}" 
          title="{{images.featured.title}}" 
          class="bfp-photofeatured" 
          style="width: 100%;">
      {% endif %}
      {% if images.featured.caption %}
        <figcaption class="border bg-light py-1 px-3 mt-2 text-center">
          <i>{{images.featured.caption}}</i>
        </figcaption>
      </figure>
    {% endif %}
      {% endcomment %}


    <h1>{{ object.title }}</h1>

    <p class="w-100 mt-3">
      {{ object.body|safe }}
    </p>

    {% if object.categories.exists or object.tags.exists %}
      <hr>
      {% for cat in object.categories.all %}
        <a 
          class="btn btn-secondary btn-sm"
          href="{% url 'blogapp-category-list' category_name=cat.name category_id=cat.id %}">
          {{cat}}
        </a>&nbsp;
      {% endfor %}
      {% for tag in object.tags.all %}
        <a 
          class="btn btn-outline-secondary btn-sm"
          href="{% url 'blogapp-tag-list' tag_name=tag.name tag_id=tag.id %}">
          {{tag}}
        </a>&nbsp;
      {% endfor %}
      <hr>
    {% endif %}

    {% if object.footer.exists %}
      <footer class="w-100 border py-3 p-3 bg-light">
        {{ object.footer|safe }}
      </footer>
    {% endif %}

  </article>

  <div class="col-none col-xl-4 d-none d-xl-block" >
    {% include "homeapp/sidebar.html" %}
  </div>

</div>
{% endblock %}
