{% extends 'cmsapp/base_list.html' %}
{% load static %}

{% block table_head_cols %}
<th scope="col">First Name</th>
<th scope="col">Last Name</th>
<th scope="col">Pen Name</th>
<th scope="col">Role</th>
<th scope="col">ID</th>
{% endblock %}

{% block table_cols %}
<td 
  class="align-middle" 
  scope="col">{{obj.firstName}}</td>
<td 
  class="align-middle" 
  scope="col">{{obj.lastName}}</td>
<td 
  class="align-middle" 
  scope="col">{{obj.penName}}</td>
<td 
  class="align-middle" 
  scope="col">{{obj.role}}</td>
<td 
  class="align-middle" 
  scope="col">{{obj.ID}}</td>
{% endblock %}

{% block includes %}
{% include 'cmsapp/modals/author.html' %}
{% include 'cmsapp/modals/document_del.html' %}
{% endblock %}

{% block script %}
<script 
  type="text/javascript" 
  src="{% static 'js/nanoid.js' %}"></script>
<script 
  type="text/javascript" 
  src="{% static 'js/index.input.js' %}"></script>
<script 
  type="text/javascript" 
  src="{% static 'js/select.choices.js' %}"></script>
<script 
  type="text/javascript" 
  src="{% static 'js/author.list.js' %}"></script>
{% endblock %}
