{% extends 'common/base.html' %}
{% block content %}
<p>Welcome to the dashboard.</p>
<div class='container'>

<div class='row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2 g-lg-3'>
  <div class='col'>
    <div class='h-100 bg-light rounded p-3'>
      <a href="{% url 'set_list' 'collections' %}">collections</a></br>
      </br>

      <a href="{% url 'document_list' 'author' %}">author</a></br>
      <a href="{% url 'document_list' 'image' %}">image</a></br>
      <a href="{% url 'document_list' 'website' %}">website</a></br>

  </div>
  </div>

  <div class='col'>
    <div class='h-100 bg-light rounded p-3'>
      <a 
        href="{% url 'document_list' 'article' %}">
        articles</a></br>
      <a 
        href="{% url 'document_list' 'articleCategory' %}">
        article categories</a></br>
      <a 
        href="{% url 'document_list' 'articleTag' %}">
        article tags</a></br>
      <a 
        href="{% url 'document_list' 'articleKeyword' %}">
        article keywords</a></br>

      </br>
      <a 
        href="{% url 'document_list' 'recipeCookingMethod' %}">
        recipe cookingMethod</a></br>
      <a 
        href="{% url 'document_list' 'recipeCuisine' %}">
        recipe cuisine</a></br>
      <a 
        href="{% url 'document_list' 'recipeCategory' %}">
        recipe category</a></br>
      <a 
        href="{% url 'document_list' 'recipeSuitableForDiet' %}">
        recipe suitableForDiet</a></br>
    </div>
  </div>

  <div class='col'>
    <div class='h-100 bg-light rounded p-3'>
      <a 
        href="{% url 'document_list' 'techdoc' %}">
        technical documents</a></br>
      <a 
        href="{% url 'document_list' 'techdocCategory' %}">
        tech doc categories</a></br>
      <a 
        href="{% url 'document_list' 'techdocTag' %}">
        tech doc tags</a></br>
      <a 
        href="{% url 'document_list' 'techdocKeyword' %}">
        tech doc keywords</a></br>
    </div>
  </div>

  <div class='col'>
    <div class='h-100 bg-light rounded p-3'>
    </div>
  </div>

  {% if request.user.is_superuser %}

  <div class='col'>
    <div class='h-100 bg-warning rounded p-3'>
      <p>sodavault menus</p>
    </div>
  </div>

  <div class='col'>
    <div class='h-100 bg-warning rounded p-3'>
    </div>
  </div>

  <div class='col'>
    <div class='h-100 bg-warning rounded p-3'>
    </div>
  </div>

  <div class='col'>
    <div class='h-100 bg-warning rounded p-3'>
    </div>
  </div>
  {% endif %}

</div>
</div>

{% endblock %}
