{% extends 'cmsapp/edit_base.html' %}
{% load static %}
{% block section_buttons %}
<a 
  class="btn btn-light" 
  data-bs-toggle="collapse" 
  href="#attributeFields" 
  role="button">Attributes</a>
<a 
{% endblock %}

{% block form_sections %}
{% with form_website as web %}
<!-- begin attribute section -->
<div 
  class="row collapse multi-collapse b-3 m-3" 
  id="attributeFields">
  <div 
    id="attributeBanner" 
    class="col-12 p-2 alert alert-light rounded border">Attributes
  </div>

  <!-- begin attribute fields -->
  <div class="row row-cols-1 row-cols-lg-2">

    <div class="col mt-2">
        {{ web.websiteDomain.errors }}
        {{ web.websiteDomain.label_tag }}
        {{ web.websiteDomain }}
        <p 
          id="websiteDomainHelp" 
          class="web-text">{{ web.websiteDomain.help_text|safe }}</p>
    </div>
    <div class="col mt-2">
        {{ web.websiteUrl.errors }}
        {{ web.websiteUrl.label_tag }}
        {{ web.websiteUrl }}
        <p 
          id="websiteUrlHelp" 
          class="web-text">{{ web.websiteUrl.help_text|safe }}</p>
    </div>

  </div>
  {% if debug %}
  <p class='mt-3'>website</p>
  <pre>{{ web.initial|pprint }}</pre>
  {% endif %}
</div>
{% endwith %}
{% endblock %}

{% block btn_color %}primary{% endblock %}
{% block btn_value %}Submit{% endblock %}

{% block bottomscripts %}
{{ block.super }}

<script>
const pageTitle = "{{page_title}}";
$( document ).ready(function() {
  $("#attributeFields").collapse("show");
  $('a.btn-light[href="#attributeFields"]').hover(function(){
      $('#attributeBanner').toggleClass('alert-dark').toggleClass('alert-light');
});
  });
</script>
{% endblock %}
