{% extends 'cmsapp/edit_base.html' %}
{% load static %}
{% block section_buttons %}
<a 
  class="btn btn-light" 
  data-bs-toggle="collapse" 
  href="#attributeFields" 
  role="button">Attributes</a>
<a 
{% endblock %}

{% block form_sections %}
{% with form_author as auth %}
<!-- begin attribute section -->
<div 
  class="row collapse multi-collapse b-3 m-3" 
  id="attributeFields">
  <div 
    id="attributeBanner" 
    class="col-12 p-2 alert alert-light rounded border">Attributes
  </div>
  <!-- begin attribute fields -->
  <div class="row row-cols-1 row-cols-lg-4">

    <div class="col mt-2">
        {{ auth.firstName.errors }}
        {{ auth.firstName.label_tag }}
        {{ auth.firstName }}
        <p 
          id="firstNameHelp" 
          class="auth-text">{{ auth.firstName.help_text|safe }}</p>
    </div>
    <div class="col mt-2">
        {{ auth.lastName.errors }}
        {{ auth.lastName.label_tag }}
        {{ auth.lastName }}
        <p 
          id="lastNameHelp" 
          class="auth-text">{{ auth.lastName.help_text|safe }}</p>
    </div>
    <div class="col mt-2">
        {{ auth.penName.errors}}
        {{ auth.penName.label_tag}}
        {{ auth.penName }}
        <p 
          id="penNameHelp" 
          class="auth-text">{{ auth.penName.help_text|safe }}</p>
    </div>

    <div class="col mt-2">
        {{ auth.role.errors }}
        {{ auth.role.label_tag }}
        {{ auth.role }}
        <p 
          id="roleIDHelp" 
          class="auth-text">{{ auth.role.help_text|safe }}</p>
    </div>
  </div>
  {% if debug %}
  <pre>
    author<br>
    {{ auth.initial|pprint }}
  </pre>
  {% endif %}
</div>
{% endwith %}
{% endblock %}

{% block btn_color %}primary{% endblock %}
{% block btn_value %}Submit{% endblock %}

{% block bottomscripts %}
{{ block.super }}
<script>
lexiInput("author", "#id_author-title")
$( document ).ready(function() {
  $("#attributeFields").collapse("show");
  $('a.btn-light[href="#attributeFields"]').hover(function(){
      $('#attributeBanner').toggleClass('alert-dark').toggleClass('alert-light');
    });
  });
</script>
{% endblock %}
