{% extends 'cmsapp/edit_base.html' %}
{% load static %}

{% block section_buttons %}
<a 
  class="btn btn-light"
  data-bs-toggle="collapse" 
  href="#attributeFields" 
  role="button">Attributes</a>

<div class="dropdown d-inline-block">
  <button 
    class="btn btn-light dropdown-toggle" 
    type="button" data-bs-toggle="dropdown" 
    aria-expanded="false">
    Additional Data</button>
  <ul class="dropdown-menu">
    <li>
      <a 
        class="dropdown-item"
        data-bs-toggle="collapse" 
        href="#recipeFields" 
        >Recipe</a>
    </li>
    <li>
      <a 
        class="dropdown-item"
        data-bs-toggle="collapse" 
        href="#bookFields" 
        >Book Review</a>
    </li>
    <li>
      <a 
        class="dropdown-item"
        data-bs-toggle="collapse" 
        href="#businessFields" 
        >Local Business Review</a>
    </li>
    <li>
      <a 
        class="dropdown-item"
        data-bs-toggle="collapse" 
        href="#ratingFields" 
        >Rating</a>
    </li>
    <li>
      <a 
        class="dropdown-item"
        data-bs-toggle="collapse" 
        href="#endorsementFields" 
        >Endorsement</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block form_action %}{% url 'document_post' docType %}{% endblock %} 
{% block form_method %}POST{% endblock %} 
{% block form_id %}articleForm{% endblock %}

{% block form_sections %}

<!-- begin attribute section -->
<div 
  class="row collapse multi-collapse b-3 m-3" 
  id="attributeFields">
  <div 
    id="attributeBanner" 
    class="col-12 p-2 alert alert-light rounded border">Attributes
  </div>

  <!-- begin article fields -->
  {% with form_article as article %}
  <div class="row">

    <div class="col-12 mt-2">
        {{ article.headline.errors }}
        {{ article.headline.label_tag }}
        {{ article.headline }}
        <p 
          id="headlineHelp" 
          class="form-text">{{ article.headline.help_text|safe }}</p>
    </div>
    <div class="col-12 mt-2">
        {{ article.subHeadline.errors }}
        {{ article.subHeadline.label_tag }}
        {{ article.subHeadline }}
        <p 
          id="subHeadlineHelp" 
          class="form-text">{{ article.SubHeadline.help_text|safe }}</p>
    </div>
    {% endwith %}

    <!-- image gallery -->
    <div class="row mt-3 gx-3" id="galllery-row">
      <div class="col-12">
        <div class="bg-light mt-3 p-2 border rounded gallery-container">

          <h5 class="d-inline">Images (Image Gallery)</h5>

          <!-- gallery table -->
          <table class="table table-hover" id="gallery-table">
            <thead>
              <tr scope="row">
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Caption</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {{form_image_collection.initial}}
              {{collections}}
              {% for obj in image_collection %}
              {% include 'cmsapp/partials/table_image.html' %}
              {% endfor %}
            </tbody>
          </table>

          <button 
            type="button" 
            class="btn mt-2" 
            hx-get="{% url 'htmx-manage-partial' docID 'create' 'image' %}"
            hx-trigger="click"
            hx-target="#gallery-table tbody"
            hx-swap="beforeend"
            >
            <i class="bi bi-plus-square-fill" style="color:green;"></i>
            &nbsp;add image
          </button>

        </div>
        {% if debug %}
        <pre class="mt-3">
          images<br>
          {{ form_images.initial|pprint }}
        </pre>
        {% endif %}
      </div>
    </div>

    <!-- file -->
    <div class="row mt-3 gx-3" id="file-row">
      {% with form_file_collection as file %}
      <div class="col-12">
        <div class="bg-light mt-3 p-2 border rounded">
          <h5>File</h5>
          <div class="col mb-2">
            {{ file.file.errors }}
            {{ file.file }}
          </div>
        </div>
        {% if debug %}
        <pre class="mt-3">
          file<br>
          {{ file.initial|pprint }}
        </pre>
        {% endif %}
        {% endwith %}
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-3 mt-2">
          {{ form_author_collection.author.errors }}
          {{ form_author_collection.author.label_tag }}
          {{ form_author_collection.author }}
          <div 
            id="authorHelp" 
            class="form-text">{{ form_author_collection.author.help_text|safe }}</div>
      </div>
      <div class="col-12 col-lg-3 mt-2">
          {{ form_website_collection.website.errors }}
          {{ form_website_collection.website.label_tag }}
          {{ form_website_collection.website }}
          <div 
            id="websiteHelp" 
            class="form-text">{{ form_website_collection.website.help_text|safe }}</div>
      </div>
      <div class="col-12 col-lg-3 mt-2">
          {{ form_article_collection.articleStatus.errors }}
          {{ form_article_collection.articleStatus.label_tag }}
          {{ form_article_collection.articleStatus }}
          <div 
            id="articleStatusHelp" 
            class="form-text">{{ form_article_collection.articleStatus.help_text|safe }}</div>
      </div>
      <div class="col-12 col-lg-3 mt-2">
          {{ form_article_collection.articleHighlight.errors }}
          {{ form_article_collection.articleHighlight.label_tag }}
          {{ form_article_collection.articleHighlight }}
          <div 
            id="articleHighlightHelp" 
            class="form-text">{{ form_article_collection.articleHighlight.help_text|safe }}</div>
      </div>
      <div class="col-12 col-lg-3 mt-2">
          {{ form_article_collection.articleCategory.errors }}
          {{ form_article_collection.articleCategory.label_tag }}
          {{ form_article_collection.articleCategory }}
          <div 
            id="articleCategoryHelp" 
            class="form-text">{{ form_article_collection.articleCategory.help_text|safe }}</div>
      </div>
      <div class="col-12 col-lg-3 mt-2">
          {{ form_article_collection.articleTag.errors }}
          {{ form_article_collection.articleTag.label_tag }}
          {{ form_article_collection.articleTag }}
          <div 
            id="articleTagHelp" 
            class="form-text">{{ form_article_collection.articleTag.help_text|safe }}</div>
      </div>
      <div class="col-12 col-lg-3 mt-2">
          {{ form_article_collection.articleKeyword.errors }}
          {{ form_article_collection.articleKeyword.label_tag }}
          {{ form_article_collection.articleKeyword }}
          <div 
            id="articleKeywordHelp" 
            class="form-text">{{ form_article_collection.articleKeyword.help_text|safe }}</div>
      </div>
      <div class="col-12">
      {% if debug %}
      <pre class="mt-3">
        collections<br>
        {% comment %}{{ coll.initial|pprint }}{% endcomment %}
      </pre>
      {% endif %}
      </div>
    </div>


  <!-- editor tabs -->
  <nav>
    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
      <button 
        class="nav-link active" 
        id="nav-body-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editBody" 
        type="button" 
        role="tab" 
        aria-controls="nav-editBody" 
        aria-selected="true">Body</button>
      <button 
        class="nav-link" 
        id="nav-excerpt-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editExcerpt" 
        type="button" 
        role="tab" 
        aria-controls="nav-editExcerpt" 
        aria-selected="false">Excerpt</button>
      <button 
        class="nav-link" 
        id="nav-footer-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-editFooter" 
        type="button" 
        role="tab" 
        aria-controls="nav-editFooter" 
        aria-selected="false">Footer</button>
    </div>
  </nav>

  <!-- begin edit fields -->
  {% with form_article as article %}
  <div class="tab-content" id="nav-tabContent">
    <div 
      class="tab-pane fade show active mt-3" 
      id="nav-editBody" 
      role="tabpanel" 
      aria-labelledby="nav-editBody-tab">
        {{ article.body.errors }}
        {{ article.body }}
        <p 
          id="bodyHelp" 
          class="form-text">{{ article.body.help_text|safe }}</p>
    </div>
    <div 
      class="tab-pane fade mt-3" 
      id="nav-editExcerpt" 
      role="tabpanel" 
      aria-labelledby="nav-editExcerpt-tab">
        {{ article.excerpt.errors }}
        {{ article.excerpt }}
        <p 
          id="excerptHelp" 
          class="form-text">{{ article.excerpt.help_text|safe }}</p>
    </div>
    <div 
      class="tab-pane fade mt-3" 
      id="nav-editFooter" 
      role="tabpanel" 
      aria-labelledby="nav-editFooter-tab">
        {{ article.footer.errors }}
        {{ article.footer }}
        <p 
          id="footerHelp" 
          class="form-text">{{ article.footer.help_text|safe }}</p>
    </div>
  </div>
</div>

  {% if debug %}
  <div class='row'>
    <div class='col-12'>
    <pre class="mt-3">
      article<br>
      {{ article.initial|pprint }}
    </pre>
    {% endif %}
    {% endwith %}
    </div>
  </div>

<!-- begin recipe section -->
<div 
  class="row collapse multi-collapse b-3 m-3" 
  id="recipeFields">
  <div 
    id="recipeBanner" 
    class="col-12 p-2 alert alert-light rounded border">Recipe
  </div>
  <!-- begin recipe fields -->
  {% with form_recipe as recipe %}
  <div class="row">
    <div class="col">
      {{ recipe.name.errors }}
      {{ recipe.name.label_tag }}
      {{ recipe.name }}
      <p 
        id="recipeNameHelp" 
        class="recipe-text">{{ recipe.name.help_text|safe }}</p>
    </div>
  </div>

  <!-- select row -->
  <div class="row row-cols-1 row-cols-lg-3 gx-3 gx-lg-3">

    <!-- yield -->
    <div class="col mt-3">
      <div class="bg-light mt-3 p-2 h-100 border rounded">
        <h5>Yields</h5>
        <div class="col mt-2">
          {{ recipe.yieldQuantity.errors }}
          {{ recipe.yieldQuantity }}
        </div>
        <div class="col mt-2">
          {{ recipe.yieldDescription.errors }}
          {{ recipe.yieldDescription }}
        </div>
        <div class="col mt-2">
          {{ recipe.yieldNote.errors }}
          {{ recipe.yieldNote }}
        </div>
      </div>
    </div>

    <!-- prep time -->
    <div class="col mt-3">
      <div class="bg-light mt-3 p-2 h-100 border rounded">
        <h5>Prep Time</h5>
        <div class="col mt-2">
          {{ recipe.prepTimeHours.errors }}
          {{ recipe.prepTimeHours }}
        </div>
        <div class="col mt-2">
          {{ recipe.prepTimeMinutes.errors }}
          {{ recipe.prepTimeMinutes }}
        </div>
      </div>
    </div>

    <!-- cook time -->
    <div class="col mt-3">
      <div class="bg-light mt-3 p-2 h-100 border rounded">
        <h5>Cooking Time</h5>
        <div class="col mt-2">
          {{ recipe.cookTimeHours.errors }}
          {{ recipe.cookTimeHours }}
        </div>
        <div class="col mt-2">
          {{ recipe.cookTimeMinutes.errors }}
          {{ recipe.cookTimeMinutes }}
        </div>
      </div>
    </div>
  </div>
  {% endwith %}
  <!-- end select row -->

  <!-- select row -->
  {% with form_recipe_collection as coll %}
  <div class="row mt-3 pt-3">

    <div class="col-lg-3">
      {{ coll.recipeCookingMethod.errors }}
      {{ coll.recipeCookingMethod.label_tag }}
      {{ coll.recipeCookingMethod }}
    </div>

    <div class="col-lg-3">
      {{ coll.recipeCuisine.errors }}
      {{ coll.recipeCuisine.label_tag }}
      {{ coll.recipeCuisine }}
    </div>

    <div class="col-lg-3">
      {{ coll.recipeCategory.errors }}
      {{ coll.recipeCategory.label_tag }}
      {{ coll.recipeCategory }}
    </div>

    <div class="col-lg-3">
      {{ coll.recipeSuitableForDiet.errors }}
      {{ coll.recipeSuitableForDiet.label_tag }}
      {{ coll.recipeSuitableForDiet }}
    </div>

  </div>
  {% endwith %}
  <!-- end select row -->
  {% if debug %}
  {% with form_recipe as recipe %}
  <pre class="mt-3">
    recipe<br>
    {{ recipe.initial|pprint }}
  </pre>
  {% endwith %}
  {% endif %}
  <!-- ingredients and nutrition -->
  <div class="row mt-3 gx-3" id="ingredients-row">

    <!-- ingredients -->
    <div class="col-12 col-lg-8">
      <div class="bg-light mt-3 p-2 border rounded ingredients-container">

        <h5 class="d-inline">Ingredients</h5>

        <div class="row ingredient-row mt-2" id="ingredient-header">
          <div class="col-12 col-md-4 mt-2">
            <strong>*name</strong>
          </div>
          <div class="col-12 col-md-2 mt-2">
            <strong>quantity</strong>
          </div>
          <div class="col-12 col-md-2 mt-2">
            <strong>unit</strong>
          </div>
          <div class="col-12 col-md-3 mt-2">
            <strong>note</strong>
          </div>
          <div class="col-12 col-md-1 align-center delete-link mt-2">
            <strong>del</strong>
          </div>
        </div>

        <div class="row ingredient-row mt-2" id="ingredient-rows"></div>

        {% for data in form_ingredients.initial %}
        <p 
          class="d-none" 
          hx-get="{% url 'htmx-form-swap' 'ingredients' %}"
          hx-trigger="load"
          hx-target="#ingredient-rows"
          hx-swap="beforeend"
          hx-sync="#ingredient-rows:queue all" 
          hx-vals='{
            "ID":"{{data.ID}}", 
            "name":"{{data.name}}", 
            "quantity":{{data.quantity}},
            "unit":"{{data.unit}}",
            "note":"{{data.note}}"}'
          >
          ingredient trigger
        </p>
        {% endfor %}

        <button 
          type="button" 
          class="btn mt-2" 
          hx-get="{% url 'htmx-form-swap' 'ingredients' %}"
          hx-swap="beforeend"
          hx-target="#ingredient-rows"
          >
          <i class="bi bi-plus-square-fill" style="color:green;"></i>
          &nbsp;add ingredient
        </button>

      </div>


      {% if debug %}
      <pre class="mt-3">
        ingredients<br>
        {{ form_ingredients.initial|pprint }}
      </pre>
      {% endif %}

    </div>


    <!-- nutrition -->
    {% with form_nutrition as nutrition %}
    <div class="col-12 col-lg-4">
      <div class="bg-light mt-3 p-2 border rounded">
        <h5>Nutrition</h5>
        <div class="col">
          {{ nutrition.servingSize.errors }}
          {{ nutrition.servingSize.label_tag }}
          {{ nutrition.servingSize }}
        </div>
        <div class="col mt-2">
          {{ nutrition.calories.errors }}
          {{ nutrition.calories.label_tag }}
          {{ nutrition.calories }}
        </div>
        <div class="col mt-2">
          {{ nutrition.fatContent.errors }}
          {{ nutrition.fatContent.label_tag }}
          {{ nutrition.fatContent }}
        </div>
        <div class="col mt-2">
          {{ nutrition.saturatedFat.errors }}
          {{ nutrition.saturatedFat.label_tag }}
          {{ nutrition.saturatedFat }}
        </div>
        <div class="col mt-2">
          {{ nutrition.unsaturatedFat.errors }}
          {{ nutrition.unsaturatedFat.label_tag }}
          {{ nutrition.unsaturatedFat }}
        </div>
        <div class="col mt-2">
          {{ nutrition.transFat.errors }}
          {{ nutrition.transFat.label_tag }}
          {{ nutrition.transFat }}
        </div>
        <div class="col mt-2">
          {{ nutrition.cholesterolContent.errors }}
          {{ nutrition.cholesterolContent.label_tag }}
          {{ nutrition.cholesterolContent }}
        </div>
        <div class="col mt-2">
          {{ nutrition.sodiumContent.errors }}
          {{ nutrition.sodiumContent.label_tag }}
          {{ nutrition.sodiumContent }}
        </div>
        <div class="col mt-2">
          {{ nutrition.carbohydrateContent.errors }}
          {{ nutrition.carbohydrateContent.label_tag }}
          {{ nutrition.carbohydrateContent }}
        </div>
        <div class="col mt-2">
          {{ nutrition.fiberContent.errors }}
          {{ nutrition.fiberContent.label_tag }}
          {{ nutrition.fiberContent }}
        </div>
        <div class="col mt-2">
          {{ nutrition.sugarContent.errors }}
          {{ nutrition.sugarContent.label_tag }}
          {{ nutrition.sugarContent }}
        </div>
        <div class="col my-2">
          {{ nutrition.proteinContent.errors }}
          {{ nutrition.proteinContent.label_tag }}
          {{ nutrition.proteinContent }}
        </div>
      </div>
    {% if debug %}
    <pre class="mt-3">
      nutrition<br>
      {{ nutrition.initial|pprint }}
    </pre>
    {% endif %}
    {% endwith %}
    </div>
    <!-- end recipe -->
  </div>
</div>
<!-- end recipe section -->

<!-- begin book section -->
<div 
  class="row collapse multi-collapse b-3 m-3" id="bookFields">
  <div 
    id="bookBanner" 
    class="col-12 p-2 alert alert-light rounded border">Book Review
  </div>

  <!-- begin book fields -->
  <div class="row row-cols-1">
    <div class="col mt-2">
      {{ form.book_title.errors }}
      {{ form.book_title.label_tag }}
      {{ form.book_title }}
    </div>
    <div class="col mt-2">
      {{ form.book_isbn.errors }}
      {{ form.book_isbn.label_tag }}
      {{ form.book_isbn }}
    </div>
    <div class="col mt-2">
      {{ form.book_author.errors }}
      {{ form.book_author.label_tag }}
      {{ form.book_author }}
    </div>
    <div class="col mt-2">
      {{ form.book_authorUrl.errors }}
      {{ form.book_authorUrl.label_tag }}
      {{ form.book_authorUrl }}
    </div>
    <div class="col mt-2">
      {{ form.book_language.errors }}
      {{ form.book_language.label_tag }}
      {{ form.book_language }}
    </div>
    <div class="col mt-2">
      {{ form.book_negativeNotes.errors }}
      {{ form.book_negativeNotes.label_tag }}
      {{ form.book_negativeNotes }}
    </div>
    <div class="col mt-2">
      {{ form.book_positiveNotes.errors }}
      {{ form.book_positiveNotes.label_tag }}
      {{ form.book_positiveNotes }}
    </div>

  </div>
  <!-- end book fields -->

</div>
<!-- end book section -->

<!-- begin business section -->
<div 
  class="row collapse multi-collapse b-3 m-3" id="businessFields">
  <div 
    id="businessBanner" 
    class="col-12 p-2 alert alert-light rounded border">Business Review
  </div>

  <!-- begin business fields -->
  <div class="row row-cols-1">
    <div class="col mt-2">
      {{ form.business_type.errors }}
      {{ form.business_type.label_tag }}
      {{ form.business_type }}
    </div>
    <div class="col mt-2">
      {{ form.business_name.errors }}
      {{ form.business_name.label_tag }}
      {{ form.business_name }}
    </div>
    <div class="col mt-2">
      {{ form.business_address_street.errors }}
      {{ form.business_address_street.label_tag }}
      {{ form.business_address_street }}
    </div>
    <div class="col mt-2">
      {{ form.business_address_city.errors }}
      {{ form.business_address_city.label_tag }}
      {{ form.business_address_city }}
    </div>
    <div class="col mt-2">
      {{ form.business_address_state.errors }}
      {{ form.business_address_state.label_tag }}
      {{ form.business_address_state }}
    </div>
    <div class="col mt-2">
      {{ form.business_address_zipCode.errors }}
      {{ form.business_address_zipCode.label_tag }}
      {{ form.business_address_zipCode }}
    </div>
    <div class="col mt-2">
      {{ form.business_address_country.errors }}
      {{ form.business_address_country.label_tag }}
      {{ form.business_address_country }}
    </div>
    <div class="col mt-2">
      {{ form.business_phone.errors }}
      {{ form.business_phone.label_tag }}
      {{ form.business_phone }}
    </div>
    <div class="col mt-2">
      {{ form.business_website.errors }}
      {{ form.business_website.label_tag }}
      {{ form.business_website }}
    </div>
    <div class="col mt-2">
      {{ form.business_mapLink.errors }}
      {{ form.business_mapLink.label }}
      {{ form.business_mapLink }}
    </div>
    <div class="col mt-2">
      {{ form.business_latitude.errors }}
      {{ form.business_latitude.label_tag }}
      {{ form.business_latitude }}
    </div>
    <div class="col mt-2">
      {{ form.business_longitude.errors }}
      {{ form.business_longitude.label_tag }}
      {{ form.business_longitude }}
    </div>
    <div class="col mt-2">
      {{ form.business_negativeNotes.errors }}
      {{ form.business_negativeNotes.label_tag }}
      {{ form.business_negativeNotes }}
    </div>
    <div class="col mt-2">
      {{ form.business_positiveNotes.errors }}
      {{ form.business_positiveNotes.label_tag }}
      {{ form.business_positiveNotes }}
    </div>
    <div class="col mt-2">
      {{ form.business_restaurant_menu.errors }}
      {{ form.business_restaurant_menu.label_tag }}
      {{ form.business_restaurant_menu }}
    </div>
    <div class="col mt-2">
      {{ form.business_restaurant_type.errors }}
      {{ form.business_restaurant_type.label_tag }}
      {{ form.business_restaurant_type }}
    </div>
    <div class="col mt-2">
      {{ form.business_restaurant_cuisine.errors }}
      {{ form.business_restaurant_cuisine.label_tag }}
      {{ form.business_restaurant_cuisine }}
    </div>
    <div class="col mt-2">
      {{ form.business_restaurant_acceptsReservations.errors }}
      {{ form.business_restaurant_acceptsReservations.label_tag }}
      {{ form.business_restaurant_acceptsReservations }}
    </div>
    <div class="col mt-2">
      {{ form.business_restaurant_cost.errors }}
      {{ form.business_restaurant_cost.label_tag }}
      {{ form.business_restaurant_cost }}
    </div>

  </div>
  <!-- end business fields -->

</div>
<!-- end busiess section -->

<!-- begin rating section -->
<div 
  class="row collapse multi-collapse b-3 m-3" id="ratingFields">
  <div 
    id="ratingBanner" 
    class="col-12 p-2 alert alert-light rounded border">Rating
  </div>

  <!-- begin rating fields -->
  <div class="row row-cols-1">
    <div class="col mt-2">
      {{ form.rating_value.errors }}
      {{ form.rating_value.label_tag }}
      {{ form.rating_value }}
    </div>
  </div>
  <!-- end rating fields -->

</div>
<!-- end rating section -->

<!-- begin endorsement section -->
<div 
  class="row collapse multi-collapse b-3 m-3" id="endorsementFields">
  <div 
    id="endorsementBanner" 
    class="col-12 p-2 alert alert-light rounded border">Endorsement
  </div>

  <!-- begin endorsement fields -->
  <div class="row row-cols-1">
    <div class="col mt-2">
      {{ form.endorsement_ratingValue.errors }}
      {{ form.endorsement_ratingValue.label_tag }}
      {{ form.endorsement_ratingValue }}
    </div>
    <div class="col mt-2">
      {{ form.endorsement_ratingExplanation.errors }}
      {{ form.endorsement_ratingExplanation.label_tag }}
      {{ form.endorsement_ratingExplanation }}
    </div>


  </div>
  <!-- end endorsement fields -->

</div>
<!-- end endorsement section -->

{% endblock %}

{% block btn_color %}primary{% endblock %}
{% block btn_value %}Submit{% endblock %}
{% block cancel_url %}#{% endblock %}

{% block bottomscripts %}
{{ block.super }}
{{ form_article.media.js }}
<script>
lexiInput("article", "#id_article-title")
$(document).on("click", "#image-cancel-button", function() {
  $(this).closest(".add-image-row").remove();
});
{% comment %}$(document).on("click", "#image-save-button", function() {{% endcomment %}
  {% comment %}$(this).closest(".add-image-row").remove();{% endcomment %}
{% comment %}});{% endcomment %}
$( document ).ready(function() {
  // image clear button 
  $(".image-clear-button").click(function() {
    $(this).siblings("input").val("");
  });
  $("#attributeFields").collapse("show");
  $("#editFields").collapse("show");
  $("#recipeFields").collapse("show");
  $('a.btn-light[href="#attributeFields"]').hover(function(){
      $('#attributeBanner').toggleClass('alert-dark').toggleClass('alert-light');
  });
  $('a.btn-light[href="#editFields"]').hover(function(){
      $('#editBanner').toggleClass('alert-dark').toggleClass('alert-light');
  });
  $('a.dropdown-item[href="#recipeFields"]').hover(function(){
      $('#recipeBanner').toggleClass('alert-dark').toggleClass('alert-light');
  });
  $('a.dropdown-item[href="#bookFields"]').hover(function(){
      $('#bookBanner').toggleClass('alert-dark').toggleClass('alert-light');
  });
  $('a.dropdown-item[href="#businessFields"]').hover(function(){
      $('#businessBanner').toggleClass('alert-dark').toggleClass('alert-light');
  });
  $('a.dropdown-item[href="#endorsementFields"]').hover(function(){
      $('#endorsementBanner').toggleClass('alert-dark').toggleClass('alert-light');
  });
});
</script>

{% endblock %}
