<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
          <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
        {% else %}
          <i class="fa-solid fa-angles-left" style="color:lightgrey;"></i>
          <i class="fa-solid fa-angles-left" style="color:lightgrey;"></i>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
          <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
        {% else %}
          <i class="fa-solid fa-angle-right" style="color:lightgrey;"></i>
          <i class="fa-solid fa-angles-right" style="color:lightgrey;"></i>
        {% endif %}

    </span>
</div>
