{% extends "base.html" %}
{% comment %}
django_registration/activation_failed.html
Used if account activation fails. Has the following context:

activation_error
A dict containing the information supplied to the ActivationError which occurred during activation. See the documentation for that exception for a description of the keys, and the documentation for ActivationView for the specific values used in different failure situations.
{% endcomment %}
{% block content %}
<div  class="card mt-3" style="max-width: 20rem;">
    <div class="card-header bg-light ">Error!</div>
    <div class="card-body">  
        Your account activation has failed. Please contat us for help activating your account.<br>
        error = {{ activation_error }}
    </div>
</div>
{% endblock %}