{% extends "base.html" %}
{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}

{% block content %}
<div  class="card mt-3" style="max-width: 20rem;">
    <div class="card-header bg-light ">Next step</div>
    <div class="card-body">  
        Please check your email. An account activation link has been sent to you.<br>
        If you haven't received the email in a few minutes, please check your junk mail folder.
    </div>
</div>
{% endblock %}